*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(184, 216, 231);
}
body{
    display: grid;
    height: 100vh;
    justify-content: center;
    margin-top: 20px;

}
input{
    font-size: 20px;
    width: 450px;
}
#bold{
    font-weight: 600;
   
}
h1{
    display: flex;
    justify-content: center;
    color: red;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

table #button{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 10px;
}
table #button:hover{
    background-color: red;
    color: black;
}
#printbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 8px 10px;
    border-radius: 10px;
}
#printbtn:hover{
    background-color: red;
    color: black;
}
#tbl{
    font-weight: 600;
}